.main-box{
    display: flex;
}

.A {
 width: 200px;
 height: 200px;
 background-color:rgb(180, 197, 127);
 display: flex;
 justify-content: center;
 align-items: center;
 margin-right: 4px;
 

}

.B{
    width: 200px;
    height: 200px;
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
